/* RESET */
*{
  margin: 0px;
  padding: 0px;
}
.info{
  display: inline-block;
  width: 200px;
  margin: 20px;
}
a{
  margin: 10px;
  margin-top: 0px;
  vertical-align: top;
  display: inline-block;
  color: inherit;
  color: blue;
  text-decoration: underline;
}
