<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <header>
      <h3>Test App</h3>
      <h4>Dashboard</h4>
      <h4>Profile</h4>
      <a href="{% url 'log_off' %}">Log off</a>
      <hr>
    </header>
    <h3>Add a new user</h3>
    <form action="{% url 'dashboard_admin' user.id %}" method="get">
      {% csrf_token %}
      <input class="blue_button" type="submit" value="Return to Dashboard">
    </form>
    <form action="{% url 'add_new' user.id %}" method="post">
      {% csrf_token %}
      {{ register_form }}
      <input class="green_button" type="submit" value="Create">
    </form>
  </body>
</html>
