<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Edit User</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'user_app/css/main.css' %}" media="screen" title="Edit UserManager"  charset="utf-8">
  </head>
  <body>
    <header>
      <h3>Test App</h3>
      <h4>DashBoard</h4>
      <h4>Profile</h4>
      <a href="{% url 'log_off' %}">Log off</a>
      <hr>
    </header>
    <h4>Edit user #{{ person.id }}</h4>
    <form action="{% url 'dashboard_admin' user.id %}" method="get">
      <input class="blue_button" type="submit" value="Return to Dashboard">
    </form>
    <div class="info">
      <form action="{% url 'edit_user' person.id user.id %}" method="post">
        {% csrf_token %}
        {{ update_info_form }}
        <input class="green_button" type="submit" value="Save">
      </form>
    </div>
    <div class="info">
      <form action="{% url 'change_password' person.id user.id %}" method="post">
        {% csrf_token %}
        {{ change_password_form }}
        <input class="green_button" type="submit" value="Update Password">
      </form>
    </div>
  </body>
</html>
