<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'user_app/css/main.css' %}" media="screen" title="Index Page"  charset="utf-8">
  </head>
  <body>
    <header>
      <h3>Test App</h3>
      <h4>Home</h4>
      <h4></h4>
      <a href="{% url 'sign_in' %}">Sign in</a>
      <hr>
    </header>
      <div class="welcome">
        <h1>Welcome to the Test</h1>
        <h3>We're going to build a cool application using a MVC framework!   This application was built with the Village88 folks!</h3>
        <form action="{% url 'sign_in' %}" method="get">
          {% csrf_token %}
          <input class="blue_button" type="submit" value="Start">
        </form>
      </div>
      <div class="infoFirst">
        <h4>Manage Users</h4>
        <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
      </div>
      <div class="info">
        <h4>Leave Messages</h4>
        <p>Users will be able to leave a message to another suer using this application</p>
      </div>
      <div class="info">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edti another users information (email address, first name, last name, etc.).</p>

      </div>
  </body>
</html>
